<header class="hero">
    <div class="hero__content fade-in">
        <h1 class="hero__title">Alberto <span>Estrada</span></h1>
        <p class="subtitle">{ Web Developer }</p>
        <p class="soon fade-in">Content available soon.</p>
        <nav role="navigation">
            <ul class="nav-main">
                <li>
                    <a href="#profile">
                        <svg class="nav-main icon">
                            <use xlink:href="/assets/svg/icon-profile.svg#icon-profile"></use>
                        </svg>
                        <!-- Profile -->
                    </a>
                <li><a class="nav-main__item" href="">
                        <svg class="icon" role="img">
                            <use xlink:href="/assets/svg/icon-skills.svg#icon-skills"></use>
                        </svg>
                        <!-- Skills -->
                    </a>
                <li><a class="nav-main__item" href="">
                        <svg class="icon" role="img">
                            <use xlink:href="/assets/svg/icon-work.svg#icon-work"></use>
                        </svg>
                    </a>
             <!--    <li><a class="nav-main__item" href="">
                        <svg class="icon" role="img">
                            <use xlink:href="#icon-connect"></use>
                        </svg>
                        Connect
                    </a> -->
            </ul>
        </nav>
    </div><!--/ .hero__content -->
</header>
