<header class="hero">
    <div class="hero__content">
        <h1 class="hero__title">Alberto <span>Estrada</span></h1>
        <p class="subtitle">{ Web Developer }</p>

        <nav role="navigation">
            <ul class="nav-main">
                <li>
                    <a class="nav-main__item" href="">
                        <svg class="icon" role="img">
                            <use xlink:href="#icon-profile"></use>
                        </svg>
                        Profile
                    </a>
                <li><a class="nav-main__item" href="">
                        <svg class="icon" role="img">
                            <use xlink:href="#icon-skills"></use>
                        </svg>
                        Skills
                    </a>
                <li><a class="nav-main__item" href="">
                        <svg class="icon" role="img">
                            <use xlink:href="#icon-work"></use>
                        </svg>
                        Work
                    </a>
                <li><a class="nav-main__item" href="">
                        <svg class="icon" role="img">
                            <use xlink:href="#icon-connect"></use>
                        </svg>
                        Connect
                    </a>
            </ul>
        </nav>
    </div><!--/ .hero__content -->
</header>
