<div class="navigation">
    <ul class="navigation-main">
        <li class="navigation-main__item">
            <a href="#profile">
                <svg class="navigation-main__icon">
                    <use xlink:href="/assets/svg/icon-profile.svg#icon-profile"></use>
                </svg>
                <!-- Profile -->
            </a>
        <li class="navigation-main__item">
            <a href="#skills">
                <svg class="navigation-main__icon">
                    <use xlink:href="/assets/svg/icon-skills.svg#icon-skills"></use>
                </svg>
                <!-- Profile -->
            </a>
        <li class="navigation-main__item">
            <a href="#work">
                <svg class="navigation-main__icon">
                    <use xlink:href="/assets/svg/icon-work.svg#icon-work"></use>
                </svg>
                <!-- Profile -->
            </a>
        <li class="navigation-main__item">
            <a href="#connect">
                <svg class="navigation-main__icon">
                    <use xlink:href="/assets/svg/icon-connect.svg#icon-connect"></use>
                </svg>
                <!-- Profile -->
            </a>
    </ul>
</div>
