<div id="#profile" class="section section_profile">
        <div class="row collapse large-up-2">
            <div class="column large-4">
                <img src="../assets/img/portrait-1.png">
            </div>
            <div class="column large-8 medium-12 small-12 profile__text">
                <h1>A little about me</h1>
                <p>Hi! My name is Alberto Estrada, and I'm a South-Florida-based web developer. Also, did you notice my awesome beard? :-) </p>
                <p>
                I have more than 7 years of experience across a range of web development, product development, and digital marketing.
                </p>
                <p>
                As a developer, I have a diverse set of skills, ranging from a simple HTML email to HTML + CSS + Javascript, Node, Angular, all the way to the server side, PHP/MYSQL.
                </p>
                <p>
                On PHP development, I have been using Laravel Framework and became proficient at it. Wich facilitates the development environment on API design or server side applications.
                </p>
                <p>
                Back-end development has been my expertise in the past years and has given me the opportunity to be the architect of the backbone of many digital campaigns.
                </p>
            </div>
        </div>
</div>
