<div id="#references" class="section section_references">
    <div class="wrapper">
        <h2>People that worked with me said:</h2>
        <div class="slider row">
           <ul>
            <li>
                <div class="slider-container column">
                    <p><span>&#8220;</span>...always looking to deliver a good product that not only satisfies the client, also us, as a team...<span>&#8221;</span></p>
                </div>
            </li>
            <li>
                <div class="slider-container column">
                    <p><span>&#8220;</span>...he's a great developer who really knows how to collaborate with the creative team and has killer skills when it comes to coding...<span>&#8221;</span></p>
                </div>
            </li>
            <li>
                <div class="slider-container column">
                    <p><span>&#8220;</span>...also he's a consummated professional with an keen eye for detail and strong time-management skills...<span>&#8221;</span></p>
                </div>
            </li>
            </ul>
        </div>
    </div>
</div>
