/*
    Profile component
 */

.profile {

}

    .profile__text {

        position:relative;
        left: 50%;
        font-size: em(20);
        line-height: em(26);
        width: 600px;

        h1 {
            margin-top: em(20);
            text-transform: uppercase;
            font-size: em(40);
            font-weight: 500;
            padding-bottom: em(2);
        }
    }
