/*
    Navigation Component
 */

.navigation {
    width: em(70);
    position: fixed;
    top: 50%;
    right: 25px;
    transform: translate(0, -50%);
    z-index:20;
}




.navigation-main {
    list-style-type:none;
    padding:0px;
    margin:0px;
    background-color: #eeeeee;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,.15);

    a {
        width: em(70);
        height: em(79);
        position: relative;
        display: block;
    }
}


.navigation-main :not(:first-child) {
    border-top: 1px solid #0d0e58;
}

.navigation-main__item {

    :hover {
        background:#dadbe3;
    }
}

.navigation-main__icon {
    position: absolute;
    width: em(37);
    height: em(37);
    fill: #0d0e58;
    display: inline;
    transform: translate(-50%, -50%);
    top: 50%;
    left:50%;
    stroke-width:20;
}

