.hero {
    overflow: hidden;
    background-size: cover;
    color: #fff;

    position: relative;
    background-image: url('../assets/img/hero-screens--desk.jpg');
    height: 100vh;
 //   max-height: 846px;

    @media all and (max-width: 768px) {
        height: 50vw;
    }

    @media all and (max-width: 1024px) {
        height: 60vw;
    }
}

    .hero__content {
        position: absolute;
        top:50%;
        left:50%;
        text-align: center;
        margin: auto;
        width: 885px;
        transform: translate(-50%, -50%);

        @media all and (max-width: 1024px) {
            font-size: 1.5vw;
            top: 40vw;
        }

        @media all and (max-width: 768px) {
            font-size: 1.5vw;
            top: 30vw;
        }
    }

    /* Hero main lead title */
    .hero__title {
        color: #fff;
        font-size: em(100.5);
        font-weight: 100;
        letter-spacing: em(0);
        text-transform: uppercase;
        width:880px;

        animation-delay: 2s;

        span {
            font-weight: 900;
            font-style: italic;
            margin-left:em(-21, 100.5); // cambiarlo a em

            @media all and (max-width: 1024px) {
                margin-left:-18px;
            }

            @media all and (max-width: 768px) {
                margin-left:-15px;
            }
        }
    }

    .subtitle {
        font-size: em(30);
        font-style: italic;

        @media all and (max-width: 768px) {
            font-size: em(50);
        }

    }

    .soon {
        animation-delay: 2.5s;
    }

    /* make keyframes that tell the start state and the end state of our object */
    @keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

    .fade-in {
      opacity:0;  /* make things invisible upon start */
      /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
      animation:fadeIn ease-in 1;

      /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
      animation-fill-mode:forwards;

      animation-duration:3s;
    }

