nav[role=navigation] {
    width: em(70);
}

.nav-main {
    list-style-type:none;
    padding:0px;
    margin:0px;
    background-color: #eeeeee;
    // box-shadow: inset 0 -3px 0 rgba(0,0,0,.15);

    a {
        width: em(70);
        height: em(79);
        position: relative;
        display: block;
    }

    .icon {
        position: relative;
        width: em(30);
        height: em(30);
        fill: #0d0e58;
        display: inline;
        margin-top: em(-30);
        margin-left: auto;
        top: 45%;
        stroke-width:20;
    }
}





