/*
    Section
 */


.section {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;

    color: #fff;
    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

}

.section_slope {
    margin: 0 -50px;
    background: #fff;
    transform-origin: left center;
    transform: rotate(-2deg);
}

.section_profile {
    background-color:#263238;
    background-image: url('../assets/img/portrait-1.png');
    background-size: auto em(673);
    background-repeat: no-repeat;
    min-height: em(613);
}
