/*
    Section
 */


.section {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;

    color: #fff;
    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

}

.section_slope {
    margin: 0 -50px;
    background: #fff;
    transform-origin: left center;
    transform: rotate(-2deg);
}

.section_profile {
    background-color:#263238;
    background-image: url('../assets/img/portrait-1.png');
    background-size: auto em(673);
    background-repeat: no-repeat;
    min-height: em(613);
}

.section_skills {
    // background-color: #c6e6e8;
    background-image: radial-gradient(at bottom left , #FFFFFF 0%, #c6e6e8 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: em(200);
}


.section_work {

}

    .section-heading {
        background-color: #263238;
        padding: 20px 0px 20px 0;
    }

    .section-heading  h1 {
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
        margin:0;
        padding:0;
    }
