/*
    Section
 */


.section {
    padding-top: $spacing-unit;
    padding-bottom: $spacing-unit;

    color: #fff;
    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

}

.section_slope {
    margin: 0 -50px;
    background: #fff;
    transform-origin: left center;
    transform: rotate(-2deg);
}

.section_profile {
    background-color:#263238;
    background-size: auto em(673);
    background-repeat: no-repeat;
    min-height: em(613);
    padding-top: $spacing-unit;
}

.section_skills {
    // background-color: #c6e6e8;
    background-image: radial-gradient(at bottom left , #FFFFFF 0%, #c6e6e8 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: em(200);
}


.section_work {
    padding-bottom: 0;
    padding-top: 0;
}

    .section-heading {
        background-color: $theme-blue-color-dark;
        padding: 20px 0px 20px 0;
    }

    .section-heading  h1 {
        text-transform: uppercase;
        font-weight: 900;
        text-align: center;
        margin:0;
        padding:0;
    }

.section_references {
    background-color: #c6e6e8;
    background-image: radial-gradient(at bottom left , #FFFFFF 0%, #c6e6e8 100%);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: em(200);
    color: $grey-color-dark;
}


//TODO: move to another file

.slider, ul
{
    height: 100px;
}

.slider
{
    margin: auto;
    overflow: hidden;
    padding: 20px;
    position: relative;
    width: 600px;
}

.slider li
{
    float: left;
    position: relative;
    width: 600px;
    display: inline-block;
    height: 200px;
}

.slider ul
{
    list-style: none;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 9000px;
    transition: left .3s linear;
    margin-left: -25px;
    color: #666;
}

.slider-container
{
    margin: 0 auto;
    padding: 0;
    min-height: 180px;
}

.slider-container  p
{
    @media all and (max-width: 646px) {
        padding-right: 225px;
        font-size: em(15);
    }
    margin: 10px 25px;
    font-weight: 400;
    line-height: 150%;
    text-align: justify;
    font-style: italic;
    font-size: em(20);
}
.slider-container  span {
    font-size: em(30);
}


@-webkit-keyframes slide-animation {
  0% {
    left: 0;
    opacity: 0;
  }
  14.8% {
    left: 0;
    opacity: 1;
  }
  37.03% { left: 0px; opacity: 1 }
  47.25% { left: -600px; opacity: 1}
  70% { left: -600px; opacity: 1}
  85% { left: -1200px;opacity: 1}
  98% { left: -1200px; opacity: 1;}
  100% { left: -1200px;; opacity: 0;}
}

.slider ul
{
    animation: slide-animation 27s infinite;
}


.slider ul:hover
{
    animation-play-state: paused;
}
